<!doctype html>
<html>

<head>
	<title>Passa Imagem</title>
	<!--<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css')}}">-->
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='upload_form.css')}}">
	<!--<script src="{{ url_for('static', filename='javascript/main.js')}}"></script>-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

   <body>

	<div class="upload-container">
		<div><h3>Selecione uma imagem</h3></div>
		<form class="form" action = "http://localhost:5000/" method = "POST" 
		enctype = "multipart/form-data">
		<input type = "file" name = "file" />
		<input type = "submit"/>
		</form>   
	</div>

   </body>
</html>
